build
dist
pynsee.egg-info
*/__pycache__/
settings.json
.coverage
.venv/
*.html
*.pyc
*.rtc
*.doctree
*.pickle
*.stylelog
*.pdf
docs/_build/
docs/_build/html/
.idea/
.ipynb_checkpoints/