build
dist
pynsee.egg-info
*/__pycache__/
settings.json
.coverage
.venv/
*.html
*.pyc
*.rtc
*.doctree
*.pickle
*.stylelog
*.pdf
docs/_build/
docs/_build/html/
docs/auto_examples/
.idea/
.ipynb_checkpoints/
docs/examples/*.html
docs/examples/.jupyter_cache/*
/.quarto/
.spyproject/
poetry.lock
