build
dist
pynsee.egg-info
pynsee/tests/__pycache__/
tests/__pycache__/
pynsee/__pycache__/
pynsee/macro/__pycache__/
pynsee/utils/__pycache__/
pynsee/local/__pycache__/
settings.json
.coverage
.venv/
*.html
*.pyc
*.rtc
*.doctree
*.pickle
*.stylelog
*.pdf
docs/_build/